{% extends 'base.html' %}

    {% block content %}
    <h1>{% block title %} {% endblock %}</h1>
        <form method="post">
            <label for="link">ebay link </label><br>
            <input type="text" id="link" name="link" value="{{ request.form['link'] }}"><br>
            <label for="max_bid">max bid </label><br>
            <input type="number" id="max_bid" name="max_bid" value="{{ request.form['max_bid'] }}"><br>
            <label for="user">username </label><br>
            <input type="text" id="user" name="user" value="{{ request.form['user'] }}"><br>
            <label for="passwrd">password </label><br>
            <input type="password" id="passwrd" name="passwrd" value="{{ request.form['passwrd'] }}"><br>
            <input type="submit" value="Submit">
        </form>
    {% endblock %}

